<div class="container">
  <a routerLink="/menu" class="badge badge-info">Home</a>
  <h1><span class="badge badge-pill badge-info"><span class="fa fa-building"></span> Dashboard Estratégico</span></h1>
 
</div>

<br/>
<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="badge badge-dark">Meu Estabelecimento</h5>
      <input type="search" class="form-control ds-input" id="search-input" placeholder="Pesquisar..." autocomplete="off" data-siteurl="https://getbootstrap.com" data-docs-version="4.1" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="width: 100%">
    </div>
    <div class="col">
      <h5 class="badge badge-dark">Concorrente Direto</h5>  
      <input type="search" class="form-control ds-input" id="search-input" placeholder="Pesquisar..." autocomplete="off" data-siteurl="https://getbootstrap.com" data-docs-version="4.1" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="width: 100%">
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-md-4">
      <h5 class="badge badge-dark">Avaliação Média</h5>
      <fusioncharts width="90%" [height]="height" [type]="type2" [dataFormat]="dataFormat2" [dataSource]="dataSource2"></fusioncharts>
    </div>
    <div class="col-md-4">
      <h5 class="badge badge-dark">Minha Empresa X Concorrente Direto</h5>
        <fusioncharts width="90%" height="80%" [type]="type3" [dataFormat]="dataFormat3" [dataSource]="dataSource3"></fusioncharts>
      <br/>
      <h5 class="badge badge-dark">Minha Empresa X Melhor Avaliado</h5>
        <fusioncharts width="90%" height="80%" [type]="type4" [dataFormat]="dataFormat4" [dataSource]="dataSource4"></fusioncharts>
    </div>
    <div class="col-md-4">
      <h5 class="badge badge-dark">Avaliação de Concorrentes</h5>
      <fusioncharts width="90%" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col">
      <h5 class="badge badge-dark">Quantidade de Avaliadores</h5>
      <h1>{{avaliadores}}</h1>
    </div>  
    <div class="col">
      <h5 class="badge badge-dark">Quantidade Média de Avaliadores</h5>
      <h1>{{mediaAvaliadores}}</h1>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col">
      <h5 class="badge badge-dark">Avaliações Boas</h5>
      <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
    </div>  
    <div class="col">
      <h5 class="badge badge-dark">Avaliações Ruins</h5>
      <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

</div>