<div style="text-align:center">
  <link rel="stylesheet" href="../../assets/css/style.css">
  
  <div class="container">
      <div class="login">
          <form name="formLogin">
            <h1><span class="fa fa-paper-plane"></span> Menu Dashboard </h1>
            <div class="row" style="text-align: center">
              <a routerLink="/operacional" style="width: 100%">
                <Button style="width: 100%" type="button" class="btn btn-primary">
                  Operacional
                </Button>
              </a>
            </div>
            <br/>
            
            <div class="row" style="text-align: center">
            <a routerLink="/analitico" style="width: 100%">
                <Button style="width: 100%" type="button" class="btn btn-danger">
                  Analítico
                </Button>
            </a>
            </div>
            
            <br/>
            <div class="row" style="text-align: center">
                <a routerLink="/estrategico" style="width: 100%">
                <Button style="width: 100%" type="button" class="btn btn-info">
                  Estratégico
                </Button>
                </a>
            </div>
          </form>
      </div>
  </div>