<div class="container">
  <a routerLink="/menu" class="badge badge-danger">Home</a>
  
  <h1><span class="badge badge-pill badge-danger"><span class="fa fa-chart-area"></span> Dashboard Analítico</span></h1>
</div>

<br/>
<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="badge badge-dark">Temporada</h5>
      <select class="custom-select" id="temporada" style="width:100%">
        <option selected>Indiferente</option>
        <option value="1">Alta Temporada</option>
        <option value="2">Baixa Temporada</option>
      </select>
    </div>
    <div class="col">
      <h5 class="badge badge-dark">Meu Estabelecimento</h5>  
      <input type="search" class="form-control ds-input" id="search-input" placeholder="Pesquisar..." autocomplete="off" data-siteurl="https://getbootstrap.com" data-docs-version="4.1" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="width: 100%">
    </div>

    <div class="col">
      <h5 class="badge badge-dark">Nível Avaliador</h5>
      <select class="custom-select" id="temporada" style="width:100%">
        <option selected>Confiável</option>
        <option value="1">Indiferente</option>
      </select>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class = "col">
      <h5 class="badge badge-dark">Data Inicial</h5><br/>
      <input type="date" name="data-inicial" value="data-inicial" style="width:50%">
    </div>
    <div class = "col">
      <h5 class="badge badge-dark">Data Final</h5><br/>
      <input type="date" name="data-final" value="data-final" style="width:50%">
    </div>
  </div>
<br/><br/>

  <div class="row">
    <div class="col">
      <h5 class="badge badge-dark">Quantidade</h5>
      <!-- Gráfico de Pizza -->
      <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat2" [dataSource]="dataSource2"></fusioncharts>
    </div>
    <div class="col">
      <h5 class="badge badge-dark">Quantidade Distribuída</h5>
      <br/>
      <div class="row">
        <div class = "col">
          23
        </div>
        <div class = "col">
          <div class= "row">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class = "col">
          19
        </div>
        <div class = "col">
          <div class= "row">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class = "col">
          8
        </div>
        <div class = "col">
          <div class= "row">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class = "col">
          10
        </div>
        <div class = "col">
          <div class= "row">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class = "col">
         7
        </div>
        <div class = "col">
          <div class= "row">
              <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h5 class="badge badge-dark">Avaliação Média 3 Meses</h5>
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
    </div>
  </div>
  <br/><br/>

  <div class="row">
      <div class="col">
        <h5 class="badge badge-dark">Avaliações Boas</h5>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Nota</th>
                <th scope="col">Avaliação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2016-02-29</td>
                <td>5</td>
                <td>Um bom hotel, um bom preço e atendimento e bem localizado no Centro de Sao Paulo!</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2015-03-03</td>
                <td>5</td>
                <td>Uma excelente opção. Ótima Localização</td>
              </tr>
            </tbody>
          </table>
      </div>  
      <div class="col">
        <h5 class="badge badge-dark">Avaliações Ruins</h5>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Nota</th>
                <th scope="col">Avaliação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2015-07-18</td>
                <td>3</td>
                <td>Bem localizado, porém o hotel precisa de uma reforma.</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>