<div class="container">
  <a routerLink="/menu" class="badge badge-primary">Home</a>
  
  <h1><span class="badge badge-pill badge-primary"><span class="fa fa-cogs"></span> Dashboard Operacional</span></h1>
</div>

<br/>
<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="badge badge-dark">Temporada</h5>
      <select class="custom-select" id="temporada" style="width:100%">
        <option selected>Indiferente</option>
        <option value="1">Alta Temporada</option>
        <option value="2">Baixa Temporada</option>
      </select>
    </div>
    <div class="col">
      <h5 class="badge badge-dark">Destino Turístico</h5>
      <div class="row">
        <div class="col">  
          <select class="custom-select" id="estado" style="width:100%">
            <option selected>TO</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AM">AM</option>
            <option value="AP">AP</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MG">MG</option>
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="PR">PR</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="RS">RS</option>
            <option value="SC">SC</option>
            <option value="SE">SE</option>
            <option value="SP">SP</option>
            <option value="TO">TO</option>
          </select>
        </div>
        <div class="col">
            <input type="search" class="form-control ds-input" id="search-input" placeholder="Cidade..." autocomplete="off" data-siteurl="https://getbootstrap.com" data-docs-version="4.1" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="width: 100%">
        </div>
      </div>
    </div>
    <div class="col">
      <h5 class="badge badge-dark">Calendário</h5>
      <!--Inserir Calendário-->
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col">
      <h5 class="badge badge-dark">Hotéis Mais Bem Avaliados</h5>
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
    </div>
    <div class="col">
      <h5 class="badge badge-dark">Climograma</h5>
      <!-- NGIF -->
      <div *ngIf="estado == 'AC'">
        <h6>Acre</h6>
        <img src='../../assets/climograma/AC.png'/>
      </div>
      <div *ngIf="estado == 'AL'">
        <h6>Alogoas</h6>
        <img src='../../assets/climograma/AL.png'/>
      </div>
      <div *ngIf="estado == 'AP'">
        <h6>Amazonas</h6>
        <img src='../../assets/climograma/AM.png'/>
      </div>
      <div *ngIf="estado == 'AP'">
        <h6>Amapá</h6>
        <img src='../../assets/climograma/AP.png'/>
      </div>
      <div *ngIf="estado == 'BA'">
        <h6>Bahia</h6>
        <img src='../../assets/climograma/BA.png'/>
      </div>
      <div *ngIf="estado == 'CE'">
        <h6>Ceará</h6>
        <img src='../../assets/climograma/CE.png'/>
      </div>
      <div *ngIf="estado == 'DF'">
        <h6>Distrito Federal</h6>
        <img src='../../assets/climograma/DF.png'/>
      </div>
      <div *ngIf="estado == 'ES'">
        <h6>Espirito Santo</h6>
        <img src='../../assets/climograma/ES.png'/>
      </div>
      <div *ngIf="estado == 'GO'">
        <h6>Goiás</h6>
        <img src='../../assets/climograma/GO.png'/>
      </div>
      <div *ngIf="estado == 'MA'">
        <h6>Maranhão</h6>
        <img src='../../assets/climograma/MA.png'/>
      </div>
      <div *ngIf="estado == 'MG'">
        <h6>Minas Gerais</h6>
        <img src='../../assets/climograma/MG.png'/>
      </div>
      <div *ngIf="estado == 'MS'">
        <h6>Mato Grosso do Sul</h6>
        <img src='../../assets/climograma/MS.png'/>
      </div>
      <div *ngIf="estado == 'MT'">
        <h6>Mato Grosso</h6>
        <img src='../../assets/climograma/MT.png'/>
      </div>
      <div *ngIf="estado == 'PA'">
        <h6>Pará</h6>
        <img src='../../assets/climograma/PA.png'/>
      </div>
      <div *ngIf="estado == 'PB'">
        <h6>Paraíba</h6>
        <img src='../../assets/climograma/PB.png'/>
      </div>
      <div *ngIf="estado == 'PE'">
        <h6>Pernambuco</h6>
        <img src='../../assets/climograma/PE.png'/>
      </div>
      <div *ngIf="estado == 'PI'">
        <h6>Piauí</h6>
        <img src='../../assets/climograma/PI.png'/>
      </div>
      <div *ngIf="estado == 'PR'">
        <h6>Paraná</h6>
        <img src='../../assets/climograma/PR.png'/>
      </div>
      <div *ngIf="estado == 'RJ'">
        <h6>Rio de Janeiro</h6>
        <img src='../../assets/climograma/RJ.png'/>
      </div>
      <div *ngIf="estado == 'RN'">
        <h6>Rio Grande do Norte</h6>
        <img src='../../assets/climograma/RN.png'/>
      </div>
      <div *ngIf="estado == 'RO'">
        <h6>Rondônia</h6>
        <img src='../../assets/climograma/RO.png'/>
      </div>
      <div *ngIf="estado == 'RR'">
        <h6>Roraima</h6>
        <img src='../../assets/climograma/RR.png'/>
      </div>
      <div *ngIf="estado == 'RS'">
        <h6>Rio Grande do Sul</h6>
        <img src='../../assets/climograma/RS.png'/>
      </div>
      <div *ngIf="estado == 'SC'">
        <h6>Santa Catarina</h6>
        <img src='../../assets/climograma/SC.png'/>
      </div>
      <div *ngIf="estado == 'SE'">
        <h6>Sergipe</h6>
        <img src='../../assets/climograma/SE.png'/>
      </div>
      <div *ngIf="estado == 'SP'">
        <h6>São Paulo</h6>
        <img src='../../assets/climograma/SP.png'/>
      </div>
      <div *ngIf="estado == 'TO'">
        <h6>Tocantins</h6>
        <img src='../../assets/climograma/TO.png'/>
      </div>
      <!-- NGIF -->
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col">
      <h5 class="badge badge-dark">Produtos Turísticos</h5>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>  
    <div class="col">
      <h5 class="badge badge-dark">Tipos de Turísmo</h5>
      <form>
        <input type="checkbox" name="tipotur1" value="Ecoturismo">Ecoturismo <br/>  
        <input type="checkbox" name="tipotur2" value="Cultural">Cultural <br/>
        <input type="checkbox" name="tipotur3" value="Aventura">Aventura <br/>
        <input type="checkbox" name="tipotur4" value="Praias">Praias <br/>
        <input type="checkbox" name="tipotur5" value="Negócios">Negócios <br/>
        <input type="checkbox" name="tipotur6" value="Rural">Rural
      </form>
    </div>
  </div>
</div>